.carousel-indicators{
    right: 80% !important;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
/*.carousel-indicators li{
    width: 15px !important;
    height: 15px !important;*/
}
.c_prev{
    left: 88% !important;
    bottom: 5% !important;
}
.c_next{
    right: 2% !important;
    bottom: 5% !important;
}

.c_prev, .c_next {
    top: 85% !important;
    bottom: 0;
    width: 5% !important;
    color: rgb(0, 0, 0) !important;
}